.home {
    padding: 20px 0
}

.cat {
    padding: 20px 0
}

div {
    .container {
        max-width: 1140px;
        padding: 0 15px 0 15px;
    }
}

.Home {
    .card {
        .link-button {
            width: 100%;
        }
    }
}
